@font-face {
  font-family: 'Lato';
  src: url('./../../fonts/Lato-Regular.ttf') format('truetype'),
    url('./../../fonts/Lato-Bold.ttf') format('truetype');
}

:root {
  /* COLORS */
  --color-user-section-background: #e7ecf2;
  --color-profile-primary-black: #122236;
  --color-profile-primary-white: #fff;
  --color-profile-secondary-gray: #768696;
  --color-profile-accent-blue: #e4e9f0;
  --color-profile-accent-light-blue: #f3f6f9;
}

.user {
  width: 100%;
  padding-top: 87px;
  padding-bottom: 87px;
  background-color: var(--color-user-section-background);
}

.profile {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 250px;

  color: var(--color-profile-primary-black);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;

  border-radius: 4px;
  background: var(--color-profile-primary-white);
  box-shadow: 0px 1px 3px 1px #cad5e3;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 8px 27px 8px;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  /* Fill bg for transparent images */
  background-color: var(--color-profile-accent-light-blue);
  /* Display alt text in the center of the image */
  line-height: 97px;
  text-align: center;
}

.name {
  margin-top: 24px;
  max-width: 100%;

  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.tag {
  margin-top: 2px;
  max-width: 100%;

  color: var(--color-profile-secondary-gray);
  text-align: center;
  font-weight: 600;
}

.location {
  margin-top: 4px;
  max-width: 100%;

  color: var(--color-profile-secondary-gray);
  text-align: center;
  font-weight: 600;
}

.stats {
  display: flex;
  width: 100%;

  box-shadow: 0px 1px 0px 0px var(--color-profile-accent-blue) inset;
  background-color: var(--color-profile-accent-light-blue);
}

.stats li {
  width: calc(100% / 3);
  display: flex;
  padding: 16px 4px 19px 4px;
  flex-direction: column;
  align-items: center;
}

.stats li:nth-child(2) {
  border-right: 1px solid var(--color-profile-accent-blue);
  border-left: 1px solid var(--color-profile-accent-blue);
}

.label {
  max-width: 100%;

  color: var(--color-profile-secondary-gray);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.quantity {
  max-width: 100%;

  color: var(--color-profile-primary-black);
  text-align: center;
  font-weight: 800;
}
