@font-face {
  font-family: 'Khmer OS';
  src: url('./../../fonts/KhmerOS.ttf') format('truetype');
}

:root {
  /* COLORS */
  --color-friends-primary-black: #000;
  --color-friends-primary-white: #fff;
}

.friend-list {
  margin-left: auto;
  margin-right: auto;

  width: fit-content;

  display: flex;
  flex-direction: column;
  padding: 11px 11px 17px 11px;
  row-gap: 16px;

  background: var(--color-friends-primary-white);
}
