@font-face {
  font-family: 'Lato';
  src: url('./../../fonts/Lato-Regular.ttf') format('truetype'),
    url('./../../fonts/Lato-Bold.ttf') format('truetype');
}

:root {
  /* COLORS */
  --color-statistics-section-background: #eff3f6;
  --color-statistics-primary-black: #122236;
  --color-statistics-primary-white: #fff;
  --color-statistics-secondary-gray: #768696;
}

.statistics {
  width: 100%;
  padding-top: 61px;
  padding-bottom: 61px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-statistics-primary-black);
  font-family: 'Lato', sans-serif;
  font-style: normal;

  background-color: var(--color-user-section-background);
}

.statistics > :first-child {
  border-radius: 2px 2px 0px 0px;
  overflow: hidden;
}

.statistics > :last-child {
  border-radius: 0px 0px 2px 2px;
  overflow: hidden;
}

.title {
  box-sizing: border-box;
  width: 268px;
  padding: 23px 8px;

  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  background-color: var(--color-statistics-primary-white);
}

.stat-list {
  width: 268px;
  display: flex;
  flex-wrap: wrap;

  background-color: var(--color-statistics-accent-light-blue);
}

.item {
  box-sizing: border-box;

  /* max items in a row is limited
     all items over this limit will be wrapped to a new line */
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  padding: 5px 4px 10px 4px;
}

/* case when only one item */
.item:first-child:nth-last-child(1) {
  width: calc(100%);
}

/* case when only two items */
.item:first-child:nth-last-child(2),
.item:first-child:nth-last-child(2) ~ .item {
  width: calc(100% / 2);
}

/* case when only three items */
.item:first-child:nth-last-child(3),
.item:first-child:nth-last-child(3) ~ .item {
  width: calc(100% / 3);
}

.label {
  width: 100%;
  text-align: center;

  color: var(--color-statistics-primary-white);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.percentage {
  width: 100%;
  text-align: center;

  color: var(--color-statistics-primary-white);
  font-size: 17px;
  font-weight: 800;
  line-height: 26px;
}
